.app-container {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.simon-container {
  width: 80vh;
  height: 80vh;
  position: relative;
}

.simon-button {
  position: absolute;
  width: 50%;
  height: 50%;
  border: none;
}

.simon-top-left {
  top: 0;
  left: 0;
  background-color: darkgreen;
  border-radius: 100% 0 0 0;
}

.simon-top-right {
  top: 0;
  right: 0;
  background-color: darkred;
  border-radius: 0 100% 0 0;
}

.simon-bottom-left {
  bottom: 0;
  left: 0;
  background-color: darkgoldenrod;
  border-radius: 0 0 0 100%;
}

.simon-bottom-right {
  bottom: 0;
  right: 0;
  background-color: darkblue;
  border-radius: 0 0 100% 0;
}

.simon-settings {
  width: 60%;
  height: 60%;
  background-color: white;
  position: absolute;
  top: 20%;
  left: 20%;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
